.flex(@direction, @justify, @align) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
}

.border-radius(@radius) {
  border-radius: @radius;
}

.button(@buttonRadius, @bg, @color) {
  .border-radius(@buttonRadius);
  background: @bg;
  color: @color;
  font-size: 2rem;
  padding: 0.7rem 2rem;
  width: 40%;

  &:hover {
    background: @color;
    color: @bg;
  }
}